# python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env.local
*.env
env/



# Django
db.sqlite3
/media
/staticfiles

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# node / build
node_modules/
dist/


# sql
.sql